<%= form_with(model: location_group) do |form| %>
  <% if location_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location_group.errors.count, "error") %> prohibited this location_group from being saved:</h2>

      <ul>
        <% location_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= render Admin::BelongsToComponent.new(
        form: form,
        model: location_group,
        attribute: :profile_id,
        select_model: Profile,
        select_attrs: [:type, :id]
      )
  %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
