<h1>Editing Location Group <%= @location_group.id %></h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', location_group: @location_group %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Show', @location_group %>
    <%= link_to 'Back', location_groups_path %>
  <% end %>
<% end %>

<%= render Admin::HasManyLocationsComponent.new(model: @location_group) %>
