<p id="notice"><%= notice %></p>
<h1>Interest Group <%= @interest_group.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Title:</strong>
      <%= @interest_group.title %>
    </p>

    <p>
      <strong>Profile:</strong>
      <%= @interest_group.profile_id %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', edit_interest_group_path(@interest_group) %> |
    <%= link_to 'Back', interest_groups_path %>
  <% end %>
<% end %>
<%= render Admin::TableComponent.new(records: @interest_group.interests, model: Interest) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New Interest', [:new, @interest_group, :interest] %>
  <% end %>
<% end %>
<%= render Admin::HasMany::ImagesComponent.new(model: @interest_group) %>
