<p id="notice"><%= notice %></p>

<article>
  <section>
    <p>
      <strong>Type:</strong>
      <%= @profile.type %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @profile.title %>
    </p>

    <p>
      <strong>Animoji:</strong>
      <%= @profile.animoji %>
    </p>
  </section>
  <footer>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to 'Back', :profiles %>
  </footer>
</article>
