<h1>Profile <%= @profile.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Type:</strong>
      <%= @profile.type %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @profile.title %>
    </p>

    <p>
      <strong>Animoji:</strong>
      <%= @profile.animoji %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to 'Back', :profiles %>
  <% end %>
<% end %>

<%= render Admin::TableComponent.new(records: @profile.profile_images, model: ProfileImage) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New Profile Image', [:new, @profile, :profile_image] %>
  <% end %>
<% end %>
