<p id="notice"><%= notice %></p>

<h1>Profile Images</h1>
<%= render Admin::TableComponent.new(records: @profile_images, model: ProfileImage) do |c| %>
  <%= c.new_link do %>
    <% if profile %>
      <%= link_to 'New Profile Image', [:new, profile, :profile_image] %>
    <% else %>
      <%= link_to 'New Profile Image', [:new, :profile_image] %>
    <% end %>
  <% end %>
<% end %>
