<p id="notice"><%= notice %></p>
<h1>Profile Image <%= @profile_image.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Main:</strong>
      <%= @profile_image.main %>
    </p>

    <p>
      <strong>Featured:</strong>
      <%= @profile_image.featured %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @profile_image.position %>
    </p>

    <p>
      <strong>Profile:</strong>
      <%= @profile_image.profile_id %>
    </p>

    <%= render Admin::ImageComponent.new(image: @profile_image.image) %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', [:edit, @profile_image] %>
    <%= link_to 'Back', [@profile, :profile_images] %>
  <% end %>
<% end %>
