<p id="notice"><%= notice %></p>

<h1>About Lines</h1>

<%= render Admin::TableComponent.new(records: @about_lines, model: AboutLine) do |c| %>
  <%= c.new_link do %>
    <% if about %>
      <%= link_to 'New About Line', [:new, about, :about_line] %>
    <% else %>
      <%= link_to 'New About Line', [:new, :about_line] %>
    <% end %>
  <% end %>
<% end %>
