<h1>AboutLine <%= @about_line.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Line:</strong>
      <%= @about_line.line %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @about_line.position %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @about_line.about_id %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', [:edit, @about_line] %> |
    <%= link_to 'Back', [@about, :about_lines] %>
  <% end %>
<% end %>
