<%= turbo_stream_from @conversation %>
<%# render @conversation %>

<section class="w-full conversation conversation-<%= @conversation.type %>">
  <hr>
  <h3 class="flex text-2xl font-bold p-3">
    <%= @conversation.subject %>
  </h3>
  <div id="posts" class="mx-3">
    <%= render @posts %>
  </div>
</section>

<section class="w-full conversation conversation-<%= @conversation.type %>">
  <h3 class="flex text-xl font-bold p-3">
    Reply
  </h3>
  <div class="mx-3 px-3 bg-gray-50">
    <%= render "posts/form", conversation: @conversation, post: Post.new %>
  </div>
</section>

<div class="mx-3 mt-3">
  <div class="w-2/3 mt-3 rounded-sm shadow-sm px-4 py-2 bg-gray-100">
    <%= link_to 'Back', :back %>
  </div>
  <div class="w-2/3 mt-3 rounded-sm shadow-sm bg-indigo-400">
    <%= link_to edit_conversation_path(@conversation) do %>
      <span class="px-4 py-2 flex space-around">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
        Edit this Conversation
      </span>
    <% end %>
  </div>
  <div class="w-2/3 mt-3">
    <%= button_to conversation_path(@conversation), method: :delete, class: 'w-full px-4 py-2 rounded-sm shadow-sm bg-red-600' do %>
      <span class="flex space-around">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
        Delete this Conversation
      </span>
    <% end %>
  </div>
</div>
