<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @work.additional %>
</p>

<p>
  <strong>Link:</strong>
  <%= @work.link %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @work.duration %>
</p>

<p>
  <strong>Image pack tag:</strong>
  <%= @work.image_pack_tag %>
</p>

<p>
  <strong>Work group:</strong>
  <%= @work.work_group_id %>
</p>

<%= link_to 'Edit', [:edit, @work] %> |
<%= link_to 'Back', [@work_group, :works] %>
