<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <%= form.fields_for :translations do |t_form| %>
  <section class="border-4 my-3">
    <h3>Locale <span class="font-bold"><%= t_form.object.locale %></span></h3>
    <div class="field">
      <%= t_form.label :title %>
      <%= t_form.text_field :title %>
    </div>

    <div class="field" data-controller="attachments">
      <%= t_form.label :content %>
      <%= t_form.rich_text_area :content, data: { attachments_target: 'editor' } %>
      <%= render Admin::ActionText::AttachableComponent.new(object: t_form.object, collection: @images) %>
    </div>
    <hr>
  </section>
  <% end %>

  <%= render Forms::BelongsTo::ProfileComponent.new(form: form, model: section, params: params) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
