<h1>Editing Section <%= @section.title %></h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <%= c.section do %>
    <%= render 'form', section: @section %>
  <% end %>
  <%= c.footer do %>
  <%= link_to 'Show', @section %>
  <%= link_to 'Back', profile_sections_path(@section.profile) %>
  <% end %>
<% end %>
