<h1>Section <%= @section.title %></h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <%= c.section do %>
    <p>
      <strong>Type:</strong>
      <%= @section.type %>
    </p>
    <p>
      <strong>Profile:</strong>
      <%= @section.profile_id %>
    </p>

    <% @section.translations.each do |translation| %>
      <section class="border-4 my-3">
        <h3>Locale <span class="font-bold"><%= translation.locale %></span></h3>
        <p>
          <strong>Title:</strong>
          <%= translation.title %>
        </p>
        <div class="trix-content">
          <%= translation.content %>
        </div>
      </section>
    <% end %>
  <% end %>
  <%= c.footer do %>
    <%= link_to 'Edit', edit_section_path(@section) %>
    <%= link_to 'Back', profile_sections_path(@section.profile) %>
  <% end %>
<% end %>
