<h1>Section <%= @section.title %></h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <%= c.section do %>
    <p>
      <strong>Type:</strong>
      <%= @section.type %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @section.title %>
    </p>

    <p>
      <strong>Profile:</strong>
      <%= @section.profile_id %>
    </p>
  <% end %>
  <%= c.footer do %>
    <%= link_to 'Edit', edit_section_path(@section) %>
    <%= link_to 'Back', profile_sections_path(@section.profile) %>
  <% end %>
<% end %>
