<div class="bg-background-cover h-screen w-screen fixed -z-999">
  <div class="bg-gradient-to-bl from-white to-black via-white h-screen w-screen -z-999">
  </div>
</div>
<main class="flex flex-col">
  <section class="flex flex-col flex-grow h-full">
    <header class="mx-auto w-5/6 p-3">
      <h1 class="text-center text-5xl lg:text-8xl"><%= @section.title %></h1>
      <p class="text-center lg:text-xl"><i><%= @profile.title %></i></p>
      <p class="text-center lg:text-lg"><%= @profile.animoji %></p>
      <%= render 'shared/links' %>
    </header>
    <article class="mx-auto h-full w-5/6 p-3 mt-3 flex flex-col lg:flex-row items-center">
      <%= @section.content %>
    </article>
  </section>
</main>
