<div class="bg-background-cover h-screen w-screen fixed -z-999">
  <div class="bg-gradient-to-br from-white to-black via-white h-screen w-screen -z-999">
  </div>
</div>
<main class="h-screen flex flex-col">
  <section class="flex flex-col flex-grow h-full">
    <header class="mx-auto w-5/6 p-3">
      <h1 class="text-center text-5xl lg:text-8xl"><%= @section.title %></h1>
      <p class="text-center lg:text-xl"><i><%= @profile.title %></i></p>
      <p class="text-center lg:text-lg"><%= @profile.animoji %></p>
      <%= render 'shared/links' %>
    </header>
    <article class="mx-auto h-full w-5/6 p-3 mt-3 flex flex-col lg:flex-row items-center">
      <div class="w-2/3 mx-auto mt-3 lg:mt-0 lg:flex-shrink">
        <% if @profile.main_image.file.attached? %>
          <%= image_tag(@profile.main_image.file.variant(resize: '500x500'), width: 500, height: 500, alt: 'Profile Picture', class: 'rounded-full', loading: 'lazy') %>
        <% end %>
      </div>

      <div class="flex-grow ml-3">
        <section class="">
          <%= @section.content %>
        </section>
      </div>
    </article>
  </section>
</main>
