<%= form_with(model: [interest_group, interest]) do |form| %>
  <% if interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
        <% interest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <%= render Forms::BelongsToComponent.new(
        form: form,
        model: interest,
        attribute: :interest_group_id,
        select_model: InterestGroup,
        select_attrs: [:title, :id]
      )
  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
