<p id="notice"><%= notice %></p>

<h1>Interests</h1>
<%= render Admin::TableComponent.new(records: @interests, model: Interest) do |c| %>
  <%= c.new_link do %>
    <% if interest_group %>
      <%= link_to 'New Interest', [:new, interest_group, :interest] %>
    <% else %>
      <%= link_to 'New Interest', [:new, :interest] %>
    <% end %>
  <% end %>
<% end %>
