<p id="notice"><%= notice %></p>
<h1>Interest <%= @interest.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Value:</strong>
      <%= @interest.value %>
    </p>

    <p>
      <strong>interest_group position:</strong>
      <%= @interest.profile_position %>
    </p>

    <p>
      <strong>interest_group:</strong>
      <%= @interest.interest_group_id %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', [:edit, @interest] %> |
    <%= link_to 'Back', [@interest_group, :interests] %>
  <% end %>
<% end %>
