<h1>About <%= @about.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Title:</strong>
      <%= @about.title %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', [:edit, @about] %>
    <%= link_to 'Back', :abouts %>
  <% end %>
<% end %>

<%= render Admin::TableComponent.new(records: @about.about_lines, model: AboutLine) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New About Line', [:new, @about, :about_line] %>
  <% end %>
<% end %>

<%= render Admin::HasMany::ImagesComponent.new(model: @about) %>
