<h1>Location Proxy <%= @location_proxy.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Position:</strong>
      <%= @location_proxy.position %>
    </p>

    <p>
      <strong>Locatable:</strong>
      <%= @location_proxy.locatable_id %>
    </p>

    <p>
      <strong>Location type:</strong>
      <%= @location_proxy.locatable_type %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @location_proxy.location_id %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', [:edit, @location_proxy] %> |
    <%= link_to 'Back', [@location_group, :location_proxies] %>
  <% end %>
<% end %>
