<h1>Editing Location <%= @location.id %></h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', location: @location %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Show', @location %>
    <%= link_to 'Back', locations_path %>
  <% end %>
<% end %>
<%= render Admin::LocationProxyComponent.new(record: @location) %>
<%= render Admin::HasMany::ImagesComponent.new(model: @location) %>
