<p id="notice"><%= notice %></p>
<h1>Location <%= @location.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <strong>Value:</strong>
      <%= @location.value %>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', edit_location_path(@location) %>
    <%= link_to 'Back', locations_path %>
  <% end %>
<% end %>
<%= render Admin::LocationProxyComponent.new(record: @location) %>
<%= render Admin::HasMany::ImagesComponent.new(model: @location) %>
