<h1>Image <%= @image.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render Admin::PreviewImageComponent.new(image: @image) %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', edit_image_path(@image) %>
    <%= link_to 'Back', images_path %>
  <% end %>
<% end %>
<%= render Admin::ImageProxyComponent.new(record: @image) %>
