<p id="notice"><%= notice %></p>
<h1>Image <%= @image.id %></h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <p>
      <%= image_tag @image.file %>
      <strong><%= @image.filename %></strong>
    </p>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Edit', edit_image_path(@image) %>
    <%= link_to 'Back', images_path %>
  <% end %>
<% end %>
<%= render Admin::HasMany::LocationsComponent.new(model: @image) %>
