<!DOCTYPE html>
<html>
  <head>
    <title>@omarowns::admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= yield :morris %>
  </head>

  <body class="admin">
    <%= render FlashMessageComponent.new(flash: flash) %>
    <%= render 'shared/admin_nav' %>
    <div class="ml-64 w-full">
      <%= yield %>
    </div>
  </body>
</html>
